---
import ProjectLikeButton from "~/components/ProjectLikeButton";
import Layout from "~/layouts/Layout.astro";

const PROJECT = {
  title:
    "Unlocking Hope: Support Dr. Feng Zhang's Quest to Cure Neurodegenerative Diseases",
  description:
    "Step into the future of medicine with Dr. Feng Zhang at the Broad Institute of MIT and Harvard. His groundbreaking work harnessing CRISPR technology is redefining our approach to neurodegenerative diseases like Alzheimer’s and Parkinson’s. By supporting Dr. Zhang, you're investing in innovative research that holds the key to unlocking new treatments, directly impacting millions of lives affected by these debilitating conditions.",
  header:
    "Join a Revolution in Medical Science: Dr. Zhang's Neurodegenerative Disease Research",
  slug: "dr-feng-zhang-neurodegenerative-research",
  tags: ["Health Horizons", "Cure Discovery", "Vital Research"],
  banner: {
    src: "https://imagedelivery.net/xHZxKHrwCcaO8iTco-Njhg/d7bb9853-1f05-42f4-c85c-47157bbc0c00/public",
    alt: "Dr. Feng Zhang with his laboratory, pushing the boundaries of neurodegenerative disease research",
  },
  creator: {
    name: "Dr. Zhang, Feng",
    avatar: {
      src: "https://imagedelivery.net/xHZxKHrwCcaO8iTco-Njhg/7bd7ca17-f7c6-4324-41c2-b1409b6d1700/avatar",
      alt: "Portrait of Dr. Feng Zhang, a visionary in neurodegenerative disease research",
    },
  },
};
---

<Layout title={PROJECT.title}>
  <div class='flex flex-col items-start gap-4 max-w-xl mx-auto mb-28'>
    <!-- Tags and Banner -->
    {
      PROJECT.tags.map((tag) => (
        <span class='inline-flex items-center mx-2 sm:mx-0 gap-2 px-3 py-0 lg:py-0.5 rounded-full text-xs sm:text-sm leading-5 bg-brand_yellow w-fit text-brand_black uppercase font-bold'>
          {tag}
        </span>
      ))
    }
    <img
      src={PROJECT.banner.src}
      alt={PROJECT.banner.alt}
      class='w-full object-cover'
    />

    <!-- Title and Like Button -->
    <h1 class='text-start px-4 sm:px-0 text-brand_yellow'>{PROJECT.title}</h1>
    <ProjectLikeButton project={PROJECT} client:load />

    <!-- Description -->
    <blockquote class='mx-4 sm:mx-0'>
      <p class='pointer-events-none text-brand_white'>
        {PROJECT.description}
      </p>
    </blockquote>

    <!-- Creator Info -->
    <div class='flex gap-4 mx-4 sm:mx-0'>
      <img
        src={PROJECT.creator.avatar.src}
        alt={PROJECT.creator.avatar.alt}
        loading='lazy'
        class='pointer-events-none object-cover group-hover:opacity-75 rounded-full w-10 h-10'
      />
      <h2 class='pointer-events-none block font-black text-brand_yellow'>
        {PROJECT.creator.name}
      </h2>
    </div>

    <!-- Impact Areas -->
    <h2>Revolutionizing Disease Understanding:</h2>
    <p>
      Dr. Zhang's innovative use of CRISPR in neurodegenerative diseases is
      paving the way for groundbreaking therapies, offering new hope in the
      battle against Alzheimer's and Parkinson's.
    </p>
    <h2>Driving Towards Effective Treatments:</h2>
    <p>
      His deep dive into the genetic underpinnings of these conditions is
      crucial for developing next-generation treatments, potentially changing
      the lives of those affected.
    </p>
    <h2>Shaping the Future of Healthcare:</h2>
    <p>
      The advancements from Dr. Zhang's lab could significantly alter the
      landscape of healthcare, setting the stage for more effective, targeted,
      and sustainable treatments for neurodegenerative diseases.
    </p>

    <!-- Call to Action -->
    <blockquote>
      <p class='pointer-events-none text-brand_white'>
        Join us in supporting Dr. Zhang's pioneering research to transform our
        understanding and treatment of neurodegenerative diseases. Your
        donation is more than support; it's a beacon of hope for millions.
      </p>
    </blockquote>
  </div>
</Layout>