---
import Layout from "~/layouts/Layout.astro";
import Yellow_heart_100px from "~/svgs/Yellow_heart_100px.svg";
import ProjectCard from "~/components/ProjectCard.astro";
import DesktopOnlyFeaturedBanner from "~/components/DesktopOnlyFeaturedBanner.astro";

const interests = [
  "Cure Discovery",
  "Climate Action Now",
  "Health Horizons",
  "Learn for All",
  "Tech with Purpose",
  "Nourish the World",
  "Empower Youth",
  "Culture Sustained",
  "Green Tomorrow",
  "End Gun Harm",
  "Access to Education",
  "Change Innovators",
  "Eco Agriculture",
  "Leaders of Tomorrow",
  "Artistic Heritage",
  "Community Safety",
  "Vital Research",
  "Inspire Young Minds",
  "Traditions Alive",
] as const;

const PROJECTS = [
  {
    title: "Russell Lab community outreach and education",
    description:
      "Community engagement is integral to our science. We frequently enjoy sharing our passion for entomology, botany, microbiology, pollination ecology, and natural history with the public.",
    header:
      "Transform Lives and the Planet: Your Support Empowers Tomorrow’s Innovators at Russell Lab to Lead the Climate Change Battle",
    slug: "russelllab",
    tags: [
      "Climate Action Now",
      "Green Tomorrow",
      "Learn for All",
      "Access to Education",
      "Change Innovators",
      "Empower Youth",
      "Leaders of Tomorrow",
      "Inspire Young Minds",
    ],
    banner: {
      src: "https://imagedelivery.net/xHZxKHrwCcaO8iTco-Njhg/1f126b1b-8f98-4d32-ccec-21a61f83dc00/small",
      alt: "Picture of Russell Lab members at a community outreach event",
    },
    creator: {
      name: "Dr. Russell, Avery",
      avatar: {
        src: "https://imagedelivery.net/xHZxKHrwCcaO8iTco-Njhg/d72c54b9-7680-4686-d66f-04b678cd1800/avatar",
        alt: "Profile image of Dr. Russell, Avery",
      },
    },
  },
  {
    title: "Russell Lab community outreach and education",
    description:
      "Community engagement is integral to our science. We frequently enjoy sharing our passion for entomology, botany, microbiology, pollination ecology, and natural history with the public.",
    header:
      "Transform Lives and the Planet: Your Support Empowers Tomorrow’s Innovators at Russell Lab to Lead the Climate Change Battle",
    slug: "russelllab",
    tags: [
      "Climate Action Now",
      "Green Tomorrow",
      "Learn for All",
      "Access to Education",
      "Change Innovators",
      "Empower Youth",
      "Leaders of Tomorrow",
      "Inspire Young Minds",
    ],
    banner: {
      src: "https://imagedelivery.net/xHZxKHrwCcaO8iTco-Njhg/1f126b1b-8f98-4d32-ccec-21a61f83dc00/small",
      alt: "Picture of Russell Lab members at a community outreach event",
    },
    creator: {
      name: "Dr. Russell, Avery",
      avatar: {
        src: "https://imagedelivery.net/xHZxKHrwCcaO8iTco-Njhg/d72c54b9-7680-4686-d66f-04b678cd1800/avatar",
        alt: "Profile image of Dr. Russell, Avery",
      },
    },
  },
  {
    title: "Russell Lab community outreach and education",
    description:
      "Community engagement is integral to our science. We frequently enjoy sharing our passion for entomology, botany, microbiology, pollination ecology, and natural history with the public.",
    header:
      "Transform Lives and the Planet: Your Support Empowers Tomorrow’s Innovators at Russell Lab to Lead the Climate Change Battle",
    slug: "russelllab",
    tags: [
      "Climate Action Now",
      "Green Tomorrow",
      "Learn for All",
      "Access to Education",
      "Change Innovators",
      "Empower Youth",
      "Leaders of Tomorrow",
      "Inspire Young Minds",
    ],
    banner: {
      src: "https://imagedelivery.net/xHZxKHrwCcaO8iTco-Njhg/1f126b1b-8f98-4d32-ccec-21a61f83dc00/small",
      alt: "Picture of Russell Lab members at a community outreach event",
    },
    creator: {
      name: "Dr. Russell, Avery",
      avatar: {
        src: "https://imagedelivery.net/xHZxKHrwCcaO8iTco-Njhg/d72c54b9-7680-4686-d66f-04b678cd1800/avatar",
        alt: "Profile image of Dr. Russell, Avery",
      },
    },
  },
  {
    title: "Russell Lab community outreach and education",
    description:
      "Community engagement is integral to our science. We frequently enjoy sharing our passion for entomology, botany, microbiology, pollination ecology, and natural history with the public.",
    header:
      "Transform Lives and the Planet: Your Support Empowers Tomorrow’s Innovators at Russell Lab to Lead the Climate Change Battle",
    slug: "russelllab",
    tags: [
      "Climate Action Now",
      "Green Tomorrow",
      "Learn for All",
      "Access to Education",
      "Change Innovators",
      "Empower Youth",
      "Leaders of Tomorrow",
      "Inspire Young Minds",
    ],
    banner: {
      src: "https://imagedelivery.net/xHZxKHrwCcaO8iTco-Njhg/1f126b1b-8f98-4d32-ccec-21a61f83dc00/small",
      alt: "Picture of Russell Lab members at a community outreach event",
    },
    creator: {
      name: "Dr. Russell, Avery",
      avatar: {
        src: "https://imagedelivery.net/xHZxKHrwCcaO8iTco-Njhg/d72c54b9-7680-4686-d66f-04b678cd1800/avatar",
        alt: "Profile image of Dr. Russell, Avery",
      },
    },
  },
  {
    title: "Russell Lab community outreach and education",
    description:
      "Community engagement is integral to our science. We frequently enjoy sharing our passion for entomology, botany, microbiology, pollination ecology, and natural history with the public.",
    header:
      "Transform Lives and the Planet: Your Support Empowers Tomorrow’s Innovators at Russell Lab to Lead the Climate Change Battle",
    slug: "russelllab",
    tags: [
      "Climate Action Now",
      "Green Tomorrow",
      "Learn for All",
      "Access to Education",
      "Change Innovators",
      "Empower Youth",
      "Leaders of Tomorrow",
      "Inspire Young Minds",
    ],
    banner: {
      src: "https://imagedelivery.net/xHZxKHrwCcaO8iTco-Njhg/1f126b1b-8f98-4d32-ccec-21a61f83dc00/small",
      alt: "Picture of Russell Lab members at a community outreach event",
    },
    creator: {
      name: "Dr. Russell, Avery",
      avatar: {
        src: "https://imagedelivery.net/xHZxKHrwCcaO8iTco-Njhg/d72c54b9-7680-4686-d66f-04b678cd1800/avatar",
        alt: "Profile image of Dr. Russell, Avery",
      },
    },
  },
  {
    title: "Russell Lab community outreach and education",
    description:
      "Community engagement is integral to our science. We frequently enjoy sharing our passion for entomology, botany, microbiology, pollination ecology, and natural history with the public.",
    header:
      "Transform Lives and the Planet: Your Support Empowers Tomorrow’s Innovators at Russell Lab to Lead the Climate Change Battle",
    slug: "russelllab",
    tags: [
      "Climate Action Now",
      "Green Tomorrow",
      "Learn for All",
      "Access to Education",
      "Change Innovators",
      "Empower Youth",
      "Leaders of Tomorrow",
      "Inspire Young Minds",
    ],
    banner: {
      src: "https://imagedelivery.net/xHZxKHrwCcaO8iTco-Njhg/1f126b1b-8f98-4d32-ccec-21a61f83dc00/small",
      alt: "Picture of Russell Lab members at a community outreach event",
    },
    creator: {
      name: "Dr. Russell, Avery",
      avatar: {
        src: "https://imagedelivery.net/xHZxKHrwCcaO8iTco-Njhg/d72c54b9-7680-4686-d66f-04b678cd1800/avatar",
        alt: "Profile image of Dr. Russell, Avery",
      },
    },
  },
] as const;
---

<Layout title='Lightup'>
  <div class='flex flex-col justify-center sm:gap-8 gap-4'>
    <!-- HERO SECTION -->
    <div class='flex flex-col gap-4 mt-10 sm:mt-20'>
      <div class='flex flex-col gap-0 uppercase'>
        <h1>A community that empowers science</h1>
        <h1>to change the world</h1>
      </div>
      <div class='max-w-6xl flex flex-col gap-4 mx-auto items-baseline'>
        <div
          class='flex justify-center items-center flex-nowrap sm:gap-4 gap-1'
        >
          <img
            src={Yellow_heart_100px.src}
            alt='Yellow heart Lightup logo'
            class='h-10 w-10'
            width='40px'
            height='40px'
          />
          <h2 class='text-brand_yellow'>Advancing Research</h2>
        </div>
        <div
          class='flex justify-center items-center flex-nowrap sm:gap-4 gap-1'
        >
          <img
            src={Yellow_heart_100px.src}
            alt='Yellow heart Lightup logo'
            class='h-10 w-10'
            width='40px'
            height='40px'
          />
          <h2 class='text-brand_yellow'>Advancing Ideas</h2>
        </div>
        <div
          class='flex justify-center items-center flex-nowrap sm:gap-4 gap-1'
        >
          <img
            src={Yellow_heart_100px.src}
            alt='Yellow heart Lightup logo'
            class='h-10 w-10'
            width='40px'
            height='40px'
          />
          <h2 class='text-brand_yellow'>Advancing Humanity</h2>
        </div>
      </div>
    </div>

    <!-- DESKTOP ONLY FEATURED BANNER - START -->
    <DesktopOnlyFeaturedBanner />
    <!-- DESKTOP ONLY FEATURED BANNER - END -->

    <!-- MOBILE AND TABLET ONLY INTERESTS HORIZONTAL CAROUSEL - START -->
    <div class='container block lg:hidden'>
      <h3 class='text-brand_white mx-4 sm:mx-0 pl-4'>Interests</h3>
      <div class='flex overflow-x-scroll scrolling-touch -ml-4 pl-8 gap-8'>
        {
          interests.map((interest) => (
            <div class='relative h-24'>
              <div class='absolute bg-brand_pink w-full h-full -translate-x-2 -translate-y-2' />
              <button class='relative flex items-center justify-center p-2 border-brand_pink bg-brand_white w-full border-4 z-10 h-full'>
                <p class='text-brand_pink uppercase text-center truncate'>
                  {interest}
                </p>
              </button>
            </div>
          ))
        }
      </div>
    </div>
    <!-- MOBILE AND TABLET ONLY INTERESTS HORIZONTAL CAROUSEL - END -->

    <!-- RECENT PROJECTS - START -->
    <div class='my-4 flex flex-col gap-4 mx-auto'>
      <div class='grid grid-cols-4 gap-4 w-full max-w-5xl mx-auto'>
        <!-- PROJECTS COLUMN - START -->
        <div class='col-span-4 lg:col-span-3 gap-4'>
          <h3 class='text-brand_white mx-4'>Happening on Lightup</h3>
          {PROJECTS.map((project) => <ProjectCard project={project} />)}
        </div>
        <!-- PROJECTS COLUMN - END -->

        <!-- DESKTOP ONLY INTERESTS COLUMN - START -->
        <div class='hidden lg:block h-[6000px]'>
          <div class='sticky top-12'>
            <h3 class='text-brand_white mx-4 sm:mx-0'>Interests</h3>
            <div class='flex gap-4 flex-wrap py-4'>
              {
                interests.map((interest) => (
                  <div class='relative'>
                    <div class='absolute bg-brand_pink w-full h-full translate-x-2 translate-y-2' />
                    <button class='relative p-2 border-brand_pink bg-brand_white w-full border-4 z-10'>
                      <p class='text-brand_pink uppercase text-center'>
                        {interest}
                      </p>
                    </button>
                  </div>
                ))
              }
            </div>
          </div>
        </div>
        <!-- DESKTOP ONLY INTERESTS COLUMN - END -->
      </div>
    </div>
    <!-- RECENT PROJECTS - END -->
  </div>
</Layout>
