---
import ProjectLikeButton from "~/components/ProjectLikeButton";
import Layout from "~/layouts/Layout.astro";

const PROJECT = {
  title: "Inspiring Future Scientists: Support Russell Lab's Outreach Mission",
  description:
    "Discover the Russell Lab at Missouri State University, a beacon of scientific exploration and education. Our team passionately engages in outreach activities, bringing the wonders of entomology, botany, and natural history to life for students and the community. Through hands-on activities and public talks, we're nurturing the next generation of scientists and fostering a diverse, inclusive scientific community. Your support empowers us to expand our reach, inspiring more young minds and addressing crucial social issues through science education.",
  header: "Nurturing Curiosity, Building a Scientific Community",
  slug: "russelllab",
  tags: ["Science Education", "Community Engagement", "Diversity in Science"],
  banner: {
    src: "https://imagedelivery.net/xHZxKHrwCcaO8iTco-Njhg/1f126b1b-8f98-4d32-ccec-21a61f83dc00/public",
    alt: "Russell Lab team engaging with students during an outreach event",
  },
  creator: {
    name: "Dr. Russell, Avery",
    avatar: {
      src: "https://imagedelivery.net/xHZxKHrwCcaO8iTco-Njhg/d72c54b9-7680-4686-d66f-04b678cd1800/avatar",
      alt: "Portrait of Dr. Avery Russell, dedicated to expanding the frontiers of science education",
    },
  },
};
---

<Layout title={PROJECT.title}>
  <div class='flex flex-col items-start gap-4 max-w-xl mx-auto mb-28'>
    <!-- Tags and Banner -->
    {
      PROJECT.tags.map((tag) => (
        <span class='inline-flex items-center mx-2 sm:mx-0 gap-2 px-3 py-0 lg:py-0.5 rounded-full text-xs sm:text-sm leading-5 bg-brand_yellow w-fit text-brand_black uppercase font-bold'>
          {tag}
        </span>
      ))
    }
    <img
      src={PROJECT.banner.src}
      alt={PROJECT.banner.alt}
      class='w-full object-cover'
    />

    <!-- Title and Like Button -->
    <h1 class='text-start px-4 sm:px-0 text-brand_yellow'>{PROJECT.title}</h1>
    <ProjectLikeButton project={PROJECT} client:load />

    <!-- Description -->
    <blockquote class='mx-4 sm:mx-0'>
      <p class='pointer-events-none text-brand_white'>
        {PROJECT.description}
      </p>
    </blockquote>

    <!-- Creator Info -->
    <div class='flex gap-4 mx-4 sm:mx-0'>
      <img
        src={PROJECT.creator.avatar.src}
        alt={PROJECT.creator.avatar.alt}
        loading='lazy'
        class='pointer-events-none object-cover group-hover:opacity-75 rounded-full w-10 h-10'
      />
      <h2 class='pointer-events-none block font-black text-brand_yellow'>
        {PROJECT.creator.name}
      </h2>
    </div>

    <!-- Impact Areas -->
    <h2>Engaging Young Minds in Science</h2>
    <p>
      From classrooms to community events, our lab members lead interactive sessions on entomology and pollination, igniting a spark of curiosity and a love for science in students of all ages.
    </p>
    <h2>Breaking Barriers, Building Inclusivity</h2>
    <p>
      We're committed to making science accessible to all. Our outreach initiatives focus on inclusive education, striving to recruit future scientists from diverse backgrounds and tackle complex social issues.
    </p>
    <h2>Connecting Science with Society</h2>
    <p>
      Our efforts go beyond the lab – we're humanizing scientists and breaking stereotypes, fostering a stronger connection between scientific institutions and the community they serve.
    </p>

    <!-- Call to Action -->
    <blockquote>
      <p class='pointer-events-none text-brand_white'>
        Be a part of this transformative journey. Your support enables the Russell Lab to expand its outreach and deepen its impact, inspiring future generations and nurturing a diverse scientific community. Donate today and join us in shaping a brighter, more inclusive future in science.
      </p>
    </blockquote>
  </div>
</Layout>
