---
export const prerender = true;
const { project } = Astro.props;
---

<a
  href={`/${project.slug}`}
  class='block no-underline group'
  data-astro-prefetch
>
  <span class='sr-only'>{`View details ${project.title}`}</span>
  <div class='relative aspect-[3/2] my-8 lg:my-12'>
    <div class='aspect-video block w-full overflow-hidden bg-brand_white'>
      <img
        src={project.banner.src}
        alt={project.banner.alt}
        class='object-cover group-hover:opacity-75 w-full'
        loading='lazy'
      />
    </div>

    <div class='flex flex-col gap-4 p-4'>
      <h1 class='mt-2 block font-black text-brand_white text-start'>
        {project.title}
      </h1>
      <blockquote>
        <p class='text-brand_white'>
          {project.description}
        </p>
      </blockquote>
      <div class='flex gap-4 items-center'>
        <img
          src={project.creator.avatar.src}
          alt={project.creator.avatar.alt}
          loading='lazy'
          class='object-cover group-hover:opacity-75 w-8 h-8 sm:w-12 sm:h-12 rounded-full bg-brand_pink flex items-center justify-center overflow-hidden border-solid border-brand_black border-2'
        />
        <h3 class='block font-black text-brand_white'>
          {project.creator.name}
        </h3>
      </div>
    </div>
    <div
      class='bg-brand_pink sm:px-6 border-solid border-4 border-brand_black w-full sm:mt-2 uppercase gap-2 z-20 max-w-[100vw]'
    >
      <h1
        class='text-brand_black font-black bg-brand_pink flex sm:flex-row-reverse flex-nowrap items-center justify-center gap-4 animate-breath'
      >
        <span>Learn more</span>
        <div
          class='bg-brand_white rounded-full scale-75 p-2 flex flex-nowrap justify-center items-center border-solid border-4 border-brand_black group-hover:scale-125 transition-all'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            fill='none'
            viewBox='0 0 24 24'
            stroke-width='1.5'
            stroke='currentColor'
            data-slot='icon'
            class='w-16 h-16 transition-transform animate-wiggle'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z'
            ></path>
          </svg>
        </div>
      </h1>
    </div>
  </div>
</a>
