---
type BuyButtonId = {
  dev: string;
  prod: string;
};

type PublishableKey = {
  dev: string;
  prod: string;
};

import LayoutCheckout from "~/layouts/LayoutCheckout.astro";
import LikeComponent from "~/components/LikeComponent";
import type { Project } from "~/components/ProjectLikeButton";
const project = Astro.props.project as Project;
const { buy_button_id, publishable_key } = Astro.props as {
  buy_button_id: BuyButtonId;
  publishable_key: PublishableKey;
};
const isProd = import.meta.env.PROD;
---

<LayoutCheckout
  title={`Join us in support of ${project.creator.name}'s research`}
  description={`Join us in support of ${project.creator.name}'s research`}
  image='https://imagedelivery.net/xHZxKHrwCcaO8iTco-Njhg/af4aefd1-df33-40aa-af44-0e33a8137b00/ogImage'
>
  <LikeComponent client:only project={project} />
  <div class='m-auto w-full h-auto max-w-6xl'>
    <img
      src={project.banner.src}
      alt={project.banner.alt}
      class='w-full object-cover'
    />
  </div>
  <div class='flex flex-col-reverse sm:flex-row p-4 mx-auto max-w-6xl gap-4'>
    <stripe-buy-button
      buy-button-id={isProd ? buy_button_id.prod : buy_button_id.dev}
      publishable-key={isProd ? publishable_key.prod : publishable_key.dev}
    >
    </stripe-buy-button>

    <div class='flex flex-col'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        xmlns:xlink='http://www.w3.org/1999/xlink'
        width='500'
        zoomAndPan='magnify'
        viewBox='0 0 375 374.999991'
        height='500'
        preserveAspectRatio='xMidYMid meet'
        version='1.0'
        class='w-40 h-40 mx-auto hidden sm:block'
        ><defs
          ><clipPath id='b21df5c38b'
            ><path
              d='M 39 38 L 338 38 L 338 337.5 L 39 337.5 Z M 39 38 '
              clip-rule='nonzero'></path></clipPath
          ><clipPath id='399a90d8b4'
            ><path
              d='M 49.394531 85.402344 C 28.953125 131.199219 42.207031 175.777344 63.742188 199.4375 L 189.65625 337.5 L 312.917969 199.929688 C 332.945312 174.476562 339.648438 147.480469 336.359375 117.421875 C 330.46875 75.835938 300.484375 43.574219 263.445312 38.964844 C 240.726562 36.699219 218.78125 43.519531 201.65625 59.785156 C 197.042969 64.160156 192.925781 69.054688 189.332031 74.371094 C 185.074219 68.316406 180.078125 62.777344 174.425781 57.867188 C 154.730469 40.761719 129.65625 35.375 105.574219 39.253906 C 82.765625 44.289062 62.292969 61.101562 49.394531 85.402344 Z M 49.394531 85.402344 '
              clip-rule='nonzero'></path></clipPath
          ></defs
        ><g clip-path='url(#b21df5c38b)'
          ><g clip-path='url(#399a90d8b4)'
            ><path
              fill='#ffda00'
              d='M 37.5 37.5 L 337.5 37.5 L 337.5 337.5 L 37.5 337.5 Z M 37.5 37.5 '
              fill-opacity='1'
              fill-rule='nonzero'></path></g
          ></g
        ></svg
      >
      <h2>
        {`Your Support for ${project.creator.name}'s research is Impactful`}
      </h2>
      <h2>Amplify It Now with a Timely Donation!</h2>
    </div>
  </div>
</LayoutCheckout>
